<% content_for :sub_menu do %>
  <%= link_to (t :join_us), new_member_registration_path, class: 'list-group-item' %>
  <%= link_to (t :member_login), new_member_session_path, class: 'list-group-item' %>
  <%= link_to (t :member_list), members_path, class: 'list-group-item' %>
  <%= link_to (t :discuss), members_forum_path, class: 'list-group-item' %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li><%= link_to (t :members_area), new_member_registration_path %></li>
  <li class="active"><%= t :confirmation %></li>
<% end %>

<div class="page-header"><h2><%= t :resent %></h2></div>
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal', role: 'from' }, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>
  <%= f.input :email, required: true, autofocus: true %>
  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-3">
      <%= f.button :submit, (t :resent) %>
    </div>
  </div>
<% end %>