<% content_for :sub_menu do %>
  <%= link_to '加入我們', new_member_registration_path, class: 'list-group-item active' %>
  <%= link_to '會員登入', new_member_session_path, class: 'list-group-item' %>
  <%= link_to '會員名單', members_path, class: 'list-group-item' %>
  <%= link_to '會員討論區', members_forum_path, class: 'list-group-item' %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li><%= link_to (t :members_area), new_member_registration_path %></li>
  <li class="active">修改密码</li>
<% end %>

<div class="page-header">
  <h2>修改密码</h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-6">
      <%= f.button :submit, "Update" %>
    </div>
  </div>
<% end %>