<% content_for :sub_menu do %>
  <%= link_to (t :join_us), new_member_registration_path, class: 'list-group-item active' %>
  <%= link_to (t :member_login), new_member_session_path, class: 'list-group-item' %>
  <%= link_to (t :member_list), members_path, class: 'list-group-item' %>
  <%= link_to (t :discuss), members_forum_path, class: 'list-group-item' %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li><%= link_to (t :members_area), new_member_registration_path %></li>
  <li class="active"><%= t :reset_password %></li>
<% end %>

<div class="page-header">
  <h2><%= t :reset_password %></h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
    <%= f.input :member_name, autofocus: true, label: (t :member_name), html: {class: 'col-xs-2'} %>
    <%= f.input :brief, label: (t :brief), hint:(t :one_word_introduction) %>
    <%= f.input :phone_number, label: (t :phone_number) %>
    <%= f.input :address, label: (t :address) %>
    <%= f.input :show, required: true, label: (t :show_or_not), wrapper: :horizontal_radio_and_checkboxes %>
  <br>
  <br>
  <%= f.input :password, autocomplete: "off", hint: "如果您無需修改密碼，請留空。", required: false, label: (t :password)%>
    <%= f.input :password_confirmation, required: false, label: (t :password_confirmation) %>
    <%= f.input :current_password, required: true, hint: "我們需要您當前的密碼用以確認修改。", label: (t :current_password)%>
  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-6">
      <%= f.button :submit, "更新" %>
    </div>
  </div>
<% end %>