<% if members_page? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t :help_info %></h3>
    </div>
    <div class="panel-body">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
<% end %>

<% if member_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t :about_me, name: current_member.human_name  %></h3>
    </div>
    <div class="panel-body">
      <%= link_to (t :my_info), current_member %><br>
      <%= link_to (t :modify_profile), edit_member_registration_path %><br>
      <%= link_to (t :log_out), destroy_member_session_path, method: 'delete' %><br>
    </div>
  </div>
<% end %>

<%# news panel %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to (t :latest_news), news_index_path %>
    </h3>
  </div>
  <ul class="list-group">
    <% @global_info[:news].each do |n| %>
      <li class="list-group-item">
        <%= link_to n.title, n %>
      </li>
    <% end %>
  </ul>
</div>
<%# end of news panel %>



<% unless current_page?(links_path) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= t :friendly_link%>
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="http://www.csia.org.cn" target="_blank">中国软件行业协会</a></li>
      <li class="list-group-item"><a href="http://www.hksia.hk" target="_blank">香港軟件行業協會</a></li>
      <li class="list-group-item"><a href="http://www.macauit.com" target="_blank">MIT超群科技網絡有限公司</a></li>
    </ul>
  </div>
<% end %>

<%# contact us panel %>
<% unless current_page?(contact_us_path) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= t :contact_us %>
      </h3>
    </div>
    <div class="panel-body">
      <% @global_info[:contact_infos].each do |c| %>
        <%= "#{c.name}: #{c.content}" %><%== '<br>' %>
      <% end %>
    </div>
  </div>
<% end %>