<% if current_controller?('registrations') || current_controller?('sessions') || current_controller?('passwords') || current_controller?('confirmations') %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t :help_info %></h3>
    </div>
    <div class="panel-body">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
<% end %>

<%# news panel %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to (t :latest_news), news_index_path %>
    </h3>
  </div>
  <ul class="list-group">
    <% @global_info[:news].each do |n| %>
      <li class="list-group-item">
        <%= link_to n.title, n %>
      </li>
    <% end %>
  </ul>
</div>
<%# end of news panel %>



<% unless current_page?(links_path) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= t :friendly_link%>
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="http://www.csia.org.cn" target="_blank">中国软件行业协会</a></li>
      <li class="list-group-item"><a href="http://www.hksia.hk" target="_blank">香港軟件行業協會</a></li>
      <li class="list-group-item"><a href="http://www.macauit.com" target="_blank">MIT超群科技網絡有限公司</a></li>
    </ul>
  </div>
<% end %>

<%# contact us panel %>
<% unless current_page?(contact_us_path) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= t :contact_us %>
      </h3>
    </div>
    <div class="panel-body">
      地址: 澳門宋玉生廣場322﹣362號成豐商業中心5樓A<br/>
      電話: (853) 2850 8193<br/>
      傳真: (853) 2857 5206<br/>
      電郵: azure_214@hotmail.com
    </div>
  </div>
<% end %>