<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to (t :contact_us), contact_us_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to (t :home_page), root_path %></li>
    <li class="active"><%= t :contact_us %></li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2><%= t :contact_us %></h2>
    </div>
    <div class="contact-content">
      <p>地址: 澳門宋玉生廣場322﹣362號成豐商業中心5樓A</p>
      <p>電話: (853) 2850 8193</p>
      <p>傳真: (853) 2857 5206</p>
      <p>電郵: azure_214@hotmail.com</p>
    </div>
  </div>
</div>
<%= render 'layouts/sidebar',:without => :contact %>