<% content_for :sub_menu do %>
  <%= link_to (t :contact_us), contact_us_path , class: 'list-group-item active'%>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li class="active"><%= t :contact_us %></li>
<% end %>


<div class="page-header">
  <h2><%= t :contact_us %></h2>
</div>
<div class="contact-content">
  <% @global_info[:contact_infos].each do |c| %>
    <p><%= "#{c.name}: #{c.content}" %></p>
  <% end %>
</div>