<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-9">
      <div id="carousel-slides" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-slides" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slides" data-slide-to="1"></li>
          <li data-target="#carousel-slides" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag 'DSC05114.JPG', size: '700x350' %>
            <div class="carousel-caption">
              澳门软件行业协会
            </div>
          </div>
          <div class="item">
            <%= image_tag 'DSC05115.JPG' %>
            <div class="carousel-caption">
              澳门软件行业协会
            </div>
          </div>
          <div class="item">
            <%= image_tag 'news-1.png' %>
            <div class="carousel-caption">
              知乎问答
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-slides" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-slides" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-xs-3 msia-info">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            協會簡介
          </h3>
        </div>
        <div class="panel-body">
          澳門軟件行業協會是一個非牟利的民間學術團體。英文名稱：Macau Software Industry Association，簡稱：澳門軟件協會，成立於2014年。 協會廣泛團結澳門從事軟件開發、研究、教育、應用、保護等領域的專業人士及企業，通過市場調查、資訊交流、諮詢評估、行業自律、知識產權保護、資質認定、教育培訓、出版發布、政策研究、會議展覽等方面的工作，促進澳門軟件產業的健康發展。
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title"><%= link_to '公告通知', news_notice_path %></h3>
        </div>
        <ul class="list-group news-list">
          <li class="list-group-item">
            <span class="badge">2014.07.25</span>
            <%= link_to '澳門軟件行業協會成立', news_1_path %>
          </li>
          <li class="list-group-item">
            <span class="badge">2014.11.06</span>
            <a href="#">微軟公司 MUST 講座</a>
          </li>
          <li class="list-group-item">
            <span class="badge">2014.11.06</span>
            <a href="#">微軟公司 MUST 講座</a>
          </li>
          <li class="list-group-item">
            &nbsp;
            <%= link_to '更多資訊', news_notice_path, class: 'pull-right' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title"><%= link_to '協會新聞', news_msia_path %></h3>
        </div>
        <ul class="list-group news-list">
          <li class="list-group-item">
            <span class="badge">2014.10.27</span>
            <%= link_to '深港澳首度聯手做軟件', news_5_path %>
          </li>
          <li class="list-group-item">
            <span class="badge">2014.08.16</span>
            <%= link_to '協會捐款賑濟滇災民', news_6_path %>
          </li>
          <li class="list-group-item">
            <span class="badge">2014.11.06</span>
            <a href="#">微軟公司 MUST 講座</a>
          </li>
          <li class="list-group-item">
            &nbsp;
            <%= link_to '更多資訊', news_msia_path, class: 'pull-right' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title"><%= link_to '行業新聞', news_industry_path %></h3>
        </div>
        <ul class="list-group news-list">
          <li class="list-group-item">
            <span class="badge">2014.11.18</span>
            <%= link_to '微軟完成1.8人裁員計劃', news_2_path %>
          </li>
          <li class="list-group-item">
            <span class="badge">2014.11.13</span>
            <%= link_to 'PyCon 14大會將在5城市舉行', news_3_path %>
          </li>
          <li class="list-group-item">
            <span class="badge">2014.10.15</span>
            <%= link_to 'Hpocon 2014將在上海舉辦', news_4_path %>
          </li>
          <li class="list-group-item">
            &nbsp;
            <%= link_to '更多資訊', news_industry_path, class: 'pull-right' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>