<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '最新動態', news_index_path , class: 'list-group-item'%>
    <%= link_to '公告通知', news_notice_path , class: 'list-group-item'%>
    <%= link_to '協會新聞', news_msia_path , class: 'list-group-item'%>
    <%= link_to '行業新聞', news_industry_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li class="active">行業新聞</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>PyCon 2014大會將在5城市舉行</h2>
    </div>
    <p>　　PyCon 是中国一年一度的Python技术主题大会，也是中国最盛大的以 Python 为主题的技术会议，今年更是在北京、上海、珠海、苏州、杭州这5个城市共同举行。SpeedyCloud秉承一直以来对开源、对技术社区的支持精神，今年成为了中国 PyCon 2014 大会的白金赞助商!</p>
    <p>　　作为全球 Python 开发人员最盛大的年度聚会，PyCon由国际组织Python基金会支持，一直致力于打造愉快的、多元化的 Python 技术主题大会。为了推进Python在中国的普及和发展，Python基金会授权 CPyUG(华蠎用户组)举办中国的PyCon年会——PyConChina，迄今已是第四届，而且今年也是头一次在北京、上海、珠海、苏州、杭州这5个城市联合举行。</p>

    <p>　　SpeedyCloud 自成立以来，一直以支持国内开源项目和开源社区为己任。2013年，SpeedyCloud 赞助了Perl China、RubyConf China，PyCon China 2013，SpeedyCloud也是金牌赞助方。今年的 PyCon China 2014，SpeedyCloud更是加大了赞助力度，成为白金赞助商。</p>

    <p>　　去年的 PyCon China 上，SpeedyCloud的首席架构师李雨来等在北京站和上海站分别进行了《如何用python开发运维友好的程序》、《构建在Starcraft 2/Python上的公有云架构》，与广大 Python 爱好者们分享了SpeedyCloud的公有云架构，也与大家进行了热情友好的交流，同时还送出很多价值千元的云平台充值卡。今年，SpeedyCloud还会有不少神秘礼物带给大家。</p>

    <p>　　此外，SpeedyCloud CTO 董伟，将在北京站 PyCon演讲《一起来设计云计算平台的任务调度系统》，分享在云计算平台设计方面的技术经验和积累。</p>

    <p>　　今年的 PyCon 举办日期如下：<br>

      　　北京、上海、苏州、珠海：11月15日<br>

      　　杭州：11月22日<br>

      　　届时，SpeedyCloud会在上海和北京站设立展台，到时候还会有美女过来站台，欢迎大家到时候过去玩儿哈。<br>

      　　北京大会地点：中国科学院计算机网络信息中心中科院软件园2号楼 507会议室 (分会场:505)<br>

      　　上海大会地点：上海市浦东新区博云路2号浦软大厦<br>

      　　其余城市会场地点请参考大会官网：cn.pycon.org<br>

      　　SpeedyCloud官网：www.speedycloud.cn<br>
    </p>
  </div>
</div>
<%= render 'layouts/sidebar' %>