<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '最新動態', news_index_path , class: 'list-group-item'%>
    <%= link_to '公告通知', news_notice_path , class: 'list-group-item'%>
    <%= link_to '協會新聞', news_msia_path , class: 'list-group-item active'%>
    <%= link_to '行業新聞', news_industry_path , class: 'list-group-item'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li class="active">协会新闻</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>澳門軟件行業協會捐款賑濟滇災民 </h2>
    </div>
    <p>為支援雲南省昭通市魯甸縣地震災區災民，繼續有團體向中聯辦捐款。</p>
    <p>澳門仁協之友聯誼會昨日通過中聯辦向雲南魯甸地震災區捐款。仁協理事長黃楓樺、副會長潘玉蘭、秘書長黃耀榮等代表該會捐贈十萬一千五百元。</p>
    <p>中聯辦協調部副部長史學林向該會各位老一輩愛國人士表示敬意和感謝，指出這既是金錢物質上的幫助，更飽含精神道義上的支持，在包括澳門同胞在內的全國人民支持下，災區一定能取得抗震救災和災後重建的勝利，並表示將盡快將善款轉往災區。</p>
    <p>另外，澳門軟件行業協會發起捐款行動，向會員募捐，共籌得善款十萬港元。本月十三日上午，會長劉超榮將善款送至中聯辦轉交災區，由中聯辦社會工作部副部長楊漢武代表接受。</p>
  </div>
</div>
<%= render 'layouts/sidebar' %>