<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to (t :latest_news), news_index_path , class: 'list-group-item'%>
    <%= link_to (t :msia_notify), news_notice_path , class: 'list-group-item'%>
    <%= link_to (t :msia_news), news_msia_path , class: 'list-group-item'%>
    <%= link_to (t :industry_news), news_industry_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to (t :home_page), root_path %></li>
    <li class="active"><%= t :industry_news %></li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>微軟完成1.8人裁員計劃</h2>
    </div>
    <p>
      新浪财经讯 北京时间10月30日凌晨消息，微软公司周三宣布，刚刚裁减了约3000个职位，从而完成了7月份宣布的裁员14%即1.8万人的计划。
      微软裁减的这1.8万个职位大部分是其今年较早时收购的诺基亚手机业务的。
      微软发言人表示，周三裁减的3000个职位涉及多个不同业务部门和多个不同国家，其中638个职位在公司总部所在的华盛顿州。
      此次裁员完成后，微软在全球还有约11万名员工。
    </p>
  </div>
</div>
<%= render 'layouts/sidebar' %>