<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '最新動態', news_index_path , class: 'list-group-item'%>
    <%= link_to '公告通知', news_notice_path , class: 'list-group-item'%>
    <%= link_to '協會新聞', news_msia_path , class: 'list-group-item'%>
    <%= link_to '行業新聞', news_industry_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li class="active">行業新聞</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>中國Hpocon 2014將在上海舉辦</h2>
    </div>

    <p>在簌簌的秋风里，带着骤凉下来的雨意，清冷的空气弥漫开来，不断地、不断地有开发者来到上海的浦软大厦……"2014 Hpocon - 中国高性能架构和运维大会"正在此处上演。</p>

    <p>本次大会邀请到来自唯品会、 1 号店、大众点评等知名技术专家，分享了 7 场高质量演讲。报名参会人员愈数千人，到场参会人次近五百人。为了保证会议的质量，虽然提前关闭了报名通道，但开发者的热情一如既往。</p>

    <p>架构之下，运维之上
      2014 Hpocon 是 UPYUN & TopGeek 第一次携手举办的会议，主题围绕“架构”和“运维”分别展开。运维和研发人员在极其大的情况下，都在完成配合战。作为技术人员所掌握的技术绝非单一就行，语言和技术永远没有障碍可言。运维人员需要具有编程思维，开发人员要懂运维知识。两者相辅相生，缺一不可。</p>

    <p>李志刚主要负责 1 号店云平台构建，在主题分享中袒露了心声：运维人员经常会在休假时候收到研发人员的通知，譬如因为一个 Bug 却需要将几乎所有的服务器都打补丁。而研发人员通常不知道运维具体是怎么做的，如何保证成千上万的服务器足够正确。虽然非常多的人认为运维的工作极其辛苦，但其中大部分的苦活都不需要人来完成，可以通过 Puppet (服务器集群客户管理器)来处理，包括包、软件、数据、计划任务，用户等等的管理，这些 Puppet 的常见资源。</p>

    <p>讲师之一、来自唯品会的姚仁捷，在做平台架构之前专注于 Java 开发，他也认为运维的大部分工作都在帮助研发人员，如果不了解研发人员的想法将进行得非常困难。他着重分享了唯品会的 Opsbiz ，以提醒技术人在碰到问题时要正确寻找解决问题的思路：一是数据可视化的重要性，二是横向、纵向 Debug 的问题，三是线性模型的容量规划，四是智能报警。他认为，问题是解决不完的，只有思路是万能的。</p>

    <p>害怕变化?不如拥抱
      在一年短暂时间里，Docker 的成长速度足够惊人，连续得到谷歌、微软、IBM等大佬的支持，并被定义为“下一代的虚拟机”、“云计算的明日之星”等等头衔。为何一个容器竟能得到大家如此高的关注?本次大会也非常有幸请到Docker 社区执行主席马全一介绍 Docker 的核心概念，和对于 ContainerOps 的主要看法。</p>

    <p>Docker 虽然在诞生之初，存在着安全系数上的问题，但却极其适合进行公有云服务。对于个别公司来说，如果业务特别复杂，需要把非常多应用集中在一起测试的话，它恰好能够实现。特别是在大数据运算的表现上，它的行速很快。值得一提的是，Docker 社区除了做 Docker 的服务之外。在 8 月中旬之前，Docker 的存储放在 Felr 上，他们现在统一做这个服务。UPYUN 为了支持 Docker 在生产环境中的进化，免费为社区提供云服务。而国外的 Docker 官方则需要收费。</p>

    <p>Docker 的出现，给容器的世界带来了深刻的改变。也使得 PaaS 服务如雨后春笋不断出现。而无论无论哪种 PaaS 都意味着开发者被迫使用特定的语言、特定的框架去开发他们的应用，而开发者不喜欢受限。</p>

    <p>市面上有那么多phoneGap 框架，大众点评架构师的周辉因为不满足于 phoneGap 只是包着APP 羊皮的浏览器，于是自己研发了 EFTE 框架。 EFTE 专注于让WEB 和APP 更加有机结合，进行离线包的管理将有效加速页面。而且能够让多个页面互相通话，采取了提前缓存的包管理机制，当打开UI 时可立刻渲染页面，再通过内部提供的GS 事件，API 的接口让WEB 的页面能够充分利用起来。</p>

    <p>监控一出，谁与争锋
      所有的电商网站都几乎会面临的双十一的大促问题，访问流量猛增。而这对服务器的压力非常难测，服务器到底要承受什么样的压力，特别在没有历史数据积累的情况下。在去年聚美的周年庆，就面临了因为广告过度投放服务器当天瘫痪的问题，引发了非常严重的后果。</p>

    <p>云智慧的高驰涛在监控方面极其专业，在 Hpocon “APM 在高性能架构中的应用”的主题中，认为监控的两大难点一是分布式的监测结果，一是用户看到响应的问题，这就需要全国各地，甚至遍布全球的监测点。以及具体到端到端性能的监测，从Uder 到survive，包括某一个方法具体的响应，CPU 响应的时间，终端用户的时间。</p>

    <p>UPYUN 现在的体量已经是中国算是比较大的云平台服务商了，也承担着相当重要的角色。在服务几万家客户的同时，对稳定性的要求也越来越高。UPYUN CTO 黄慧攀认为日常监控除了监控服务器的硬件指标，比如CPU、网盘这些东西之外，软件监控的指标输出也极其重要。比如说对MSCL </p>这个集群做监控，以避免数据库产生业务堵塞的问题。

    <p>很大程度上，公有云的可用性其实已经高于自己使用 IDC 或者自建的可用性。包括专注于存储 / 网络的 UPYUN，包括专注于监控服务的云智慧，包括基础云计算服务商 UCloud.相比较传统的技术解决方案，云服务商能够可以带来领先的服务的灵活性、性能和经济效益。</p>

    <p>UCloud 高级架构师吴磊在 Hpocon 大会上同技术人员们探讨了公有云的可用性和稳定性问题。他认为公有云服务是根，运维是本。不管是前端，还是后端的研发全都是秉承着IAAS，意味着这是一个持续交付的过程;而工程实践胜于学术概念。UCloud 坚持从解决问题的领域做接口 / 把浏览器做规范;也以用户需求作为创新依据，全是基于需求层面开发新的系统。</p>

    <p>多重发展，加速成长
      最后，来自 UPYUN、UCloud、云智慧、SendCloud 以及 OneAPM 等全体讲师，围绕“技术人员的成长目标”的主题进行了圆桌论坛。每个人都有自己的独门法器，而不管什么原因大家都走到很好的台阶。来自嘉宾的深切感悟，希望与大家共勉：</p>

    <p>“你只有专注于某一个方向努力的时候，你才能达到比较高的高度，否则的话其实你只是一个小角色，如果有一项做很深你可以变成高山。”</p>

    <p>“不管是生活压力，还是现实工作上的变化，我之前是做开发的，后来莫名其妙做了运维，做了运维之后又开始做开发。现在做CTO 是互相逼。现实逼着你不停地前进，在这个过程中你会想自己已经走了这条路，你就会觉得这就是你积累的财富。”</p>

    <p>“主要是大家如果看好一个方向坚持很重要，也许他今年不火，明年就火了，必然有一天这个行业会火的。就跟炒股一样的，你排在哪里一定会有火一天。但前提是你一定要敏锐，经常我们会高估一个技术对业界的影响，但是当它最后走下去之后我们又会低估它，大家一旦敏锐发现它在未来确实是很有发展的机遇，你就要抓住它，抓住它之后要耐得住寂寞。” </p>
  </div>
</div>
<%= render 'layouts/sidebar' %>