<div class="col-xs-2">
<div class="submenu list-group">
  <%= link_to '最新動態', news_index_path , class: 'list-group-item'%>
  <%= link_to '公告通知', news_notice_path , class: 'list-group-item active'%>
  <%= link_to '協會新聞', news_msia_path , class: 'list-group-item'%>
  <%= link_to '行業新聞', news_industry_path , class: 'list-group-item'%>
</div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li class="active">公告通知</li>
  </ol>
  <div class="content">
    <%= render 'layouts/news_list' %>
  </div>
</div>
<%= render 'layouts/sidebar' %>