<% content_for :sub_menu do %>
  <%= link_to (t :latest_news), news_index_path, class: 'list-group-item' %>
  <%= link_to (t :msia_notify), news_notice_path, class: sub_menu_class(@news, News::NOTICE) %>
  <%= link_to (t :msia_news), news_msia_path, class: sub_menu_class(@news, News::MSIA) %>
  <%= link_to (t :industry_news), news_industry_path, class: sub_menu_class(@news, News::INDUSTRY) %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li class="active"><%= t @news.cate_for_human %></li>
<% end %>

<div class="page-header">
  <h2><%= @news.title %></h2>
</div>
<div class="news-content">
  <%= sanitize(@news.content) %>
</div>