<% content_for :sub_menu do %>
  <%= link_to (t :friendly_link), links_path , class: 'list-group-item active'%>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li class="active"><%= t :friendly_link%></li>
<% end %>

<div class="page-header">
  <h2><%= t :friendly_link%></h2>
</div>
<% @links.each do |l| %>
<div class="link">
  <%= link_to (cc l.title), l.url, target: '_blank' %>
</div>
<% end %>