<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '協會簡介', about_info_path , class: 'list-group-item'%>
    <%= link_to '協會簡介', about_info_path , class: 'list-group-item'%>
    <%= link_to '協會簡介', about_info_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li><a href="#">關於協會</a></li>
    <li class="active">協會宗旨</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h1>協會宗旨</h1>
    </div>
    <p>廣泛團結澳門從事軟件開發、研究、應用、保護等領域的專業人士及企業，
      通過市場調查、資訊交流、諮詢評估、行業自律、知識產權保護、資質認定、出版發佈、
      教育培訓、會議展覽、政策研究等方面的工作，促進澳門軟件產業的健康發展。</p>
    <p>發展澳門軟件產業，開拓國際軟件市場，推動經濟適度多元發展；加強澳門與國際軟件行業的合作、
      聯繫和交流；加速澳門軟件產品產業化、軟件企業國際化以及智慧城市建設</p>
    <p>遵守相關法律和法規，
      遵守社會道德風尚；在政府和企業之間發揮橋樑、紐帶作用，根據政府主管部門的授權，按照公開、公平、
      公正的原則承擔軟件企業和軟件產品認定職能及其他行業管理職能。</p>
    <p>協助政府相關部門制定、修改、貫徹本行業的本地標準和專業標準。完善和貫徹執行與軟件知識産權保護相關的法律法規。</p>
  </div>
</div>
<%= render 'layouts/sidebar' %>