<% content_for :sub_menu do %>
  <%= link_to (t :introduction), about_info_path , class: 'list-group-item'%>
  <%= link_to (t :structure), about_structure_path , class: 'list-group-item active'%>
  <%= link_to (t :msia_aim), about_purpose_path , class: 'list-group-item'%>
<% end %>
<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li><%= link_to (t :about_msia), about_info_path %></li>
  <li class="active"><%= t :structure %></li>
<% end %>
<div class="page-header">
  <h2><%= t :structure %></h2>
</div>
<table class="table table-hover table-striped">
  <tbody>
  <tr>
    <td>會長：</td>
    <td>劉超榮</td>
    <td>（超群數碼科技總經理）</td>
  </tr>

  <tr>
    <td>副會長：</td>
    <td>劉碧亮</td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>黎健儒</td>
    <td>（中國銀行科技部副總經理）</td>
  </tr>

  <tr>
    <td>理事長：</td>
    <td>蔡智明</td>
    <td>（澳門城市大學/科技大學教授，博導）</td>
  </tr>

  <tr>
    <td>副理事長：</td>
    <td>林粵明</td>
    <td>（澳門CTM公司高級經理）</td>
  </tr>

  <tr>
    <td></td>
    <td>柯  偉</td>
    <td>（澳門理工學院高級講師）</td>
  </tr>

  <tr>
    <td>理  事:</td>
    <td>馮睿斌</td>
    <td>（HP澳門有限公司經理）</td>
  </tr>

  <tr>
    <td></td>
    <td>吳  凡</td>
    <td>（澳門中國銀行軟體工程師）</td>
  </tr>

  <tr>
    <td></td>
    <td>陳國勳</td>
    <td>（澳門浸信中學電腦教師）</td>
  </tr>

  <tr>
    <td>榮譽會長：</td>
    <td>林廣志</td>
    <td>（澳門大學博士/澳門研究中心訪問學者）</td>
  </tr>

  <tr>
    <td>監事長：</td>
    <td>覃少紅</td>
    <td>（澳門亞洲城市管理與發展研究副監事長）</td>
  </tr>

  <tr>
    <td>秘書：</td>
    <td>周佩淩</td>
    <td></td>
  </tr>
  </tbody>
</table>