  <div class="row">
    <div class="col-md-2 logo-container">
      <a href="<%= url_for root_path %>">
        <%= image_tag 'logo.png', id: 'logo'%>
      </a>
    </div>
    <div class="col-md-5 title">
      <h1><strong><%= t :msia_title %></strong></h1>
      <h4>Macau Software Industry Association</h4>
    </div>
    <div class="col-md-5 column">
    <ul class="list-inline navbar-right navbar-text" style=" margin-top: 10px; margin-right: 10px; ">
      <li>
        <a class="btn-xs" href=<%= "#{current_path}?locale=zh_CN" %>><span class="badge">簡</span></a>
        <a class="btn-xs" href=<%= "#{current_path}?locale=zh_TW" %>><span class="badge">繁</span></a>
      </li>
      <li><%= link_to '登入', new_member_session_path, class: 'btn btn-link' %></li>
      <li><%= link_to '註冊', new_member_registration_path, class: 'btn btn-link' %></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    <button type="submit" class="btn btn-info"><%= t :search %></button>
    </form>
    </div>
  </div>
  <%= render 'layouts/nav' %>