<div class="members-list msia-list">
  <% @members.each do |m| %>
    <div class="members-list-item msia-list-item">
      <span class="badge pull-right"><%= t m.member_type %></span>
      <h4><%= link_to (cc m.member_name), m %></h4>
      <p class="brief"><%= cc m.brief %></p>
    </div>
  <% end %>
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '周帥', '#' %></h4>
    <p class="brief">Web應用開發者，熱愛Ruby on Rails。</p>
  </div>
  <div class="members-list-item msia-list-item">
    <h4><%= link_to '王丹彤', '#' %></h4>
    <p class="brief">軟件工程應屆畢業生。</p>
  </div>
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '劉鵬', '#' %></h4>
    <p class="brief">MUST﹣CS學生，熱愛Python，熟悉Ruby，Go等多種語言</p>
  </div>
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '林馳', '#' %></h4>
    <p class="brief">MUST﹣CS學生， 熱愛Python， 致力於推廣Python的使用</p>
  </div>
</div>
<nav>
  <%= will_paginate @news, renderer: BootstrapPagination::Rails %>
</nav>