<div class="news-list">
  <div class="news-list-item">
    <h4><%= link_to '澳門軟件行業協會成立', '#' %></h4>
    <span class="badge pull-right">2014-07-25</span>
    <p class="brief">澳門軟件行業協會是一個非牟利的民間學術團體。...</p>
  </div>
  <div class="news-list-item">
    <h4><%= link_to '澳門軟件行業協會成立', '#' %></h4>
    <span class="badge pull-right">2014-07-25</span>
    <p class="brief">澳門軟件行業協會是一個非牟利的民間學術團體。...</p>
  </div>
  <div class="news-list-item">
    <h4><%= link_to '澳門軟件行業協會成立', '#' %></h4>
    <span class="badge pull-right">2014-07-25</span>
    <p class="brief">澳門軟件行業協會是一個非牟利的民間學術團體。...</p>
  </div>
  <div class="news-list-item">
    <h4><%= link_to '澳門軟件行業協會成立', '#' %></h4>
    <span class="badge pull-right">2014-07-25</span>
    <p class="brief">澳門軟件行業協會是一個非牟利的民間學術團體。...</p>
  </div>
  <div class="news-list-item">
    <h4><%= link_to '澳門軟件行業協會成立', '#' %></h4>
    <span class="badge pull-right">2014-07-25</span>
    <p class="brief">澳門軟件行業協會是一個非牟利的民間學術團體。...</p>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">上一頁</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">后一頁</a></li>
  </ul>
</nav>