<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% if content_for?(:title) %>
      <%= yield(:title) %>
  <% else %>
      <title>澳門軟件行業協會</title>
  <% end %>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container main">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/header' %>
    </div>
  </div>
  <div class="row">
    <%= yield %>
    <!--<div class="col-xs-3 sidebar">-->
      <!--<%#= render 'layouts/sidebar' %>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-xs-12 footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>

</body>