<% content_for :sub_menu do %>
  <%= link_to (t :join_us), new_member_registration_path, class: 'list-group-item' %>
  <%= link_to (t :member_login), new_member_session_path, class: 'list-group-item' %>
  <%= link_to (t :member_list), members_path, class: 'list-group-item' %>
  <%= link_to (t :discuss), members_forum_path, class: 'list-group-item active' %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li><%= link_to (t :members_area), new_member_registration_path %></li>
  <li class="active"><%= t :discuss %></li>
<% end %>
<div class="create-topic-button pull-right">
  <a href="#" class="btn btn-success" role="button"><%= t :new_topic %></a>
</div>
<br>
<br>
<%= render 'shared/topic_list' %>