<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '加入我們', new_member_path, class: 'list-group-item active' %>
    <%= link_to '會員登入', members_login_path, class: 'list-group-item' %>
    <%= link_to '會員名單', members_path, class: 'list-group-item' %>
    <%= link_to '會員討論區', members_forum_path, class: 'list-group-item' %>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to (t :home_page), root_path %></li>
    <li><%= link_to (t :members_area), new_member_path %></li>
    <li class="active">加入我們</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>加入我們</h2>
    </div>
    <p>填寫表單，當即註冊成為普通會員，獲取最新資訊。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="userName" class="control-label col-xs-4">會員名稱</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" id="userName" placeholder="請輸入您的姓名">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label col-xs-4">電子郵箱</label>
        <div class="col-xs-6">
          <input type="email" class="form-control" id="email" placeholder="請輸入您的電子郵箱地址">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label col-xs-4">設定密碼</label>
        <div class="col-xs-6">
          <input type="password" class="form-control" id="password" placeholder="字母與數字組成，不可少於6位">
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirmation" class="control-label col-xs-4">密碼確認</label>
        <div class="col-xs-6">
          <input type="password" class="form-control" id="password_confirmation" placeholder="再次輸入您的密碼用以確認">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-6">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
    <p>或下載相應表格，跟隨指引註冊成為正式會員。</p>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-3">
        <a href="/download/individual.doc" type="button" class="btn btn-success">個人入會登記表</a>
      </div>
      <div class="col-xs-offset-1 col-xs-3">
        <a href="/download/party.doc" type="button" class="btn btn-danger">團體（單位）入會登記表</a>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/sidebar' %>